{#
Params:
name = Name of the Field
value = Value of the Field
class = CSS Classes
fieldid = ID of the field
nodiv = no DIV wrap
label = Label before the input
placeholder = Placeholder Text
disable = disable the field
#}

{% if fieldid is not defined %}
    {% set fieldid = name %}
{% endif %}

{% if nodiv is not defined %}<div class="{{ global.ui_input }}">{% endif %}
    {% if label is defined %}   <label for="{{ fieldid }}">{{ label }}</label>{% endif %}
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
        <input name="{{ name }}" {% if value is defined %}value="{{ value }}" {% endif %}{% if placeholder is defined %} placeholder="{{ placeholder }}"{% endif %} id="{{ fieldid }}" class="{{ global.input }}{% if class is defined %} {{ class }}{% endif %}" type="email" />
    </div>
{% if help is defined %}   <span class="help-block">{{ help }}</span>{% endif %}
{% if nodiv is not defined %}</div>{% endif %}


